.Checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &-input {
    position: absolute;
    clip: rect(0,0,0,0);
  }

  &-input + &-label:before {
    content: "";
    user-select: none;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 12px;
    vertical-align: top;
    font-size: 22px;
    text-align: center;
    border: $inputBorder;
  }

  &-input:checked + &-label:before {
    content: "\25A0";
  }

  &-label {
    user-select: none;
  }

  &--disabled,
  &--disabled &-input,
  &--disabled &-label,
  &--disabled &-input + &-label:before, {
    pointer-events: none;
    cursor: auto;
    border-color: #888;
    color: #888
  }
}
