@import '../_mixins';

.SheetEditor {
  position: relative;
  background-color: #fff;
  font-size: 10px;

  h2 {
    @include heading;
  }

  .logo img {
    display: block;
    width: 100%;
  }


  .input-wrap {
    position: relative;
    display: flex;
    min-width: 64px;

    &.disabled, &.skill-locked  {
      input, span, i {
        border-color: #888;
        color: #888;
        pointer-events: none;
      }
    }

    &.skill-invalid  {
      input, span i {
        border-color: #a00;
        color: #a00;
        pointer-events: none;
      }
    }

    span {
      @include label;
      flex: 0 1 auto;
      border-right: 0;
      min-width: 32px;
      &+input {
        border-left: 0;
      }
    }
    input {
      line-height: 1.5;
      flex: 1 0 0;
      width: 0;
      border: $inputBorder;
      padding: 0 5px;
      min-width: 32px;
      &:focus + .skill-list {
        visibility: visible;
        opacity: 1;
      }
    }
    .skill-list {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 100%;
      right: 0;
      padding: 10px;
      background-color: rgba(255,255,255,0.9);
      z-index: 1;
      min-width: 300px;
      border: 2px solid #888;
      transition: all 0.5s;
      button {
        padding: 0;
        border: 0;
        color: #44a;
        background: transparent none;
        cursor: pointer;
        display: inline;
        margin: 0 5px 5px 5px;
      }
    }
  }

  .textarea-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.disabled span, &.disabled textarea, &.disabled .superscript {
      border-color: #888;
      color: #888;
      pointer-events: none;
    }

    span {
      @include label;
      border-bottom: 0;
      display: block;
      flex: 0;
    }
    textarea {
      flex: 1 1 40px;
      line-height: 1.5;
      width: 100%;
      border: $inputBorder;
      border-top: 0;
      resize: vertical;
    }
  }

  .superscript {
    position: absolute;
    font-size: 1.8em;
    font-weight: bold;
    left: 0;
    top: 0;
    font-style: normal;
    z-index: 1;
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff;
    transform: translate(-50%, -50%);
  }

  .checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;

    input {
      position: absolute;
      clip: rect(0,0,0,0);
      &:checked + s:after {
        content: "";
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
        background-color: #000;
      }
    }
    s {
      user-select: none;
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: $inputBorder;
    }
    &.disabled, &.disabled input, &.disabled s, &.disabled span {
      pointer-events: none;
      cursor: auto;
      border-color: #888;
      color: #888
    }
  }

  .mb {
    margin-bottom: 10px;
  }

  .mb-sm {
    margin-bottom: 5px;
  }

  .name-column {
    display: flex;
    flex-direction: column;
    .description {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      .textarea-wrap {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }

  .aspects label {
    margin-bottom: 5px;
  }

  .skills .row > div {
    margin-bottom: 5px;
  }

  .extras textarea, .stunts textarea {
    width: 100%;
    height: 80px;
    border: $inputBorder;
    resize: vertical;
  }

  .consequences label + label {
    margin-top: 5px;
  }

  .stress {
    margin: 0 -5px 10px -5px;
    display: flex;
    flex-wrap: wrap;
    label {
      flex: 1;
      margin: 0 5px 10px 5px;
    }
  }

  .refresh textarea {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
  }

}
