$inputBorder: 2px solid #000;

@mixin heading {
  position: relative;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px 6px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 18px;

  &:after {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    width: 0;
    height: 100%;
    border-top: 6px solid transparent;
    border-right: 6px solid #000;
  }
}

@mixin label {
  cursor: text;
  border: $inputBorder;
  background-color: #fff;
  line-height: 1.5;
  padding: 0 4px;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
}
